$white:               #ffffff;
$black:               #000000;

$steel:               #828599;
$seafoam-blue:        #6ddec9;
$topaz:               #1acbaa;
$ice-blue:            #edfbf9;
$marine-blue:         #002678;

$pale-grey-100:       #fafafc;
$pale-grey-300:       #f5f7fa;
$pale-grey-500:       #e9e9f0;
$light-periwinkle:    #d6dce9;
$pale-grey-700:       #c0c2cf;
$light-sky-blue:      #dde1e4;

$primary:       $marine-blue;
$secondary:     $topaz;

$theme-colors: () !default;


$theme-colors: map-merge(
    (
        "primary":    $primary,
        "secondary":  $secondary,
        "steel":      $steel,
        "seafoam":    $seafoam-blue,
        "topaz":      $topaz,
        "light":      $pale-grey-100,
        //"dark":       $dark
    ),
    $theme-colors
);