$font-weight-lighter:         lighter;
$font-weight-light:           300;
$font-weight-normal:          400;
$font-weight-medium:          500;
$font-weight-semi:            600;
$font-weight-bold:            700;
$font-weight-bolder:          800;