<section class="b-Cards">
    <div class="container">
        <div class="b-Cards__region">
            <div class="b-Cards__card">
                {% include 'modules/Card/Card.module.twig' with {
                    title: "Wszystko w cenie",
                    content: "Wybierz samochód z pełną opieką serwisową i ubezpieczeniem"
                } %}
            </div>
            <div class="b-Cards__card">
                {% include 'modules/Card/Card.module.twig' with {
                    title: "Wszystko w cenie",
                    content: "Wybierz samochód z pełną opieką serwisową i ubezpieczeniem"
                } %}
            </div>
            <div class="b-Cards__card">
                {% include 'modules/Card/Card.module.twig' with {
                    title: "Wszystko w cenie",
                    content: "Wybierz samochód z pełną opieką serwisową i ubezpieczeniem"
                } %}
            </div>
        </div>
    </div>
</section>

