<div class="m-ListIcon">
    <div class="m-ListIcon__region">
        <div class="m-ListIcon-Single">
            <div class="m-ListIcon-Single__icon-wrapper">
                <img class="m-ListIcon-Single__icon" src="/wp-content/uploads/2020/05/wheel.svg" />
            </div>
            <div class="m-ListIcon-Single__label">Masz samochód gotowy do jazdy / pracy</div>
        </div>
        <div class="m-ListIcon-Single">
            <div class="m-ListIcon-Single__icon-wrapper">
                <img class="m-ListIcon-Single__icon" src="/wp-content/uploads/2020/05/support-2.svg" />
            </div>
            <div class="m-ListIcon-Single__label">Pomagamy Ci we wszelkich sprawach obsługowych</div>
        </div>
        <div class="m-ListIcon-Single">
            <div class="m-ListIcon-Single__icon-wrapper">
                <img class="m-ListIcon-Single__icon" src="/wp-content/uploads/2020/05/wallet-1.svg" />
            </div>
            <div class="m-ListIcon-Single__label">Masz przewidywalne koszty eksploatacji</div>
        </div>
    </div>
</div>