$black: #1d1d1d;
$grayBorder: #efefef;
$breadcrumbs: #686868;
$border: #dfdfdf;
$grayfont: #5c5c5c;
$grayswitch: #4d4d4d;
$tabbg: #f2f2f2;
$grayBorder2: #ededed;
$grayBorder2active: #888888;
$historyLine: #cbcbcb;
$historyDot: #4d4d4d;
$historyDotBorder: #2e2e2e;
