{% extends "layouts/base/base.layout.twig" %}

{% block content %}
    <div class="p-Single">
        <div class="container">
            <h1>{{ post.title }}</h1>
        </div>
    </div>
{% endblock %}