<section class="b-Half">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="b-Half__column b-Half__image">
                    <div class="fake fake-image"></div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 offset-lg-1 ">
                <div class="b-Half__column b-Half__content">
                    <h6 class="h-text-lead">Komfort</h6>

                    <div class="b-Half__title">
                        <h2>W końcu używanie samochodu jest wygodne</h2>
                    </div>


                    <p>
                        W wynajmie długoterminowym Ty korzystasz z samochodu, który wybierzesz na Automarkecie, a my pomagamy Ci
                        w jego utrzymaniu.
                        <br>
                        <br>
                        Możemy zająć się ubezpieczeniem, oponami, przeglądami, naprawami. Tobie pozostaje zatankować i wyruszyć
                        w drogę. To jest wygodniejsze od zakupu samochodu.
                    </p>
                </div>

            </div>
        </div>
    </div>
</section>


<section class="b-Half">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-5">
                <div class="b-Half__column b-Half__content">
                    <h6 class="h-text-lead">Komfort</h6>

                    <div class="b-Half__title">
                        <h2>W końcu używanie samochodu jest wygodne</h2>
                    </div>


                    <p>
                        W wynajmie długoterminowym Ty korzystasz z samochodu, który wybierzesz na Automarkecie, a my pomagamy Ci
                        w jego utrzymaniu.
                        <br>
                    </p>

{#                    {% include 'modules/ListIcon/ListIcon.module.twig' %}#}
                </div>

            </div>

            <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
                <div class="b-Half__column b-Half__image">
                    <div class="fake fake-image"></div>
                </div>
            </div>

        </div>
    </div>
</section>