<div class="b-BarPoints b-BarPoints--b-bottom block-full-width">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="b-BarPoints-Point">
                    <img src="/wp-content/uploads/2020/05/online.svg" class="b-BarPoints-Point__icon" alt="" aria-hidden="true" />
                    <span class="b-BarPoints-Point__text">Proces w pełni online</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="b-BarPoints-Point">
                    <img src="/wp-content/uploads/2020/05/truck-2.svg" class="b-BarPoints-Point__icon" alt="" aria-hidden="true" />
                    <span class="b-BarPoints-Point__text">Dostawa door-to-door</span>
                </div>
            </div>
            <div class="col-auto">
                <div class="b-BarPoints-Point">
                    <img src="/wp-content/uploads/2020/05/wallet.svg" class="b-BarPoints-Point__icon" alt="" aria-hidden="true" />
                    <span class="b-BarPoints-Point__text">Niski kapitał startowy</span>
                </div>
            </div>
        </div>
    </div>
</div>

